<?xml version="1.0"?>
<config>
    <modules>
        <Qaz_Qzoom>
            <version>0.1.0</version>
        </Qaz_Qzoom>
    </modules>
    <frontend>
        <routers>
            <qzoom>
                <use>standard</use>
                <args>
                    <module>Qaz_Qzoom</module>
                    <frontName>qzoom</frontName>
                </args>
            </qzoom>
        </routers>
        <layout>
            <updates>
                <qzoom>
                    <file>qzoom.xml</file>
                </qzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <qzoom>
                            <title>Qaz Q-Zoom</title>
                            <sort_order>50</sort_order>
                            <children>
                                <item>
                                    <title>Manage Q-Zoom</title>
                                    <sort_order>0</sort_order>
                                </item>
                            </children>
                        </qzoom>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qzoom>
                                            <title>Q-Zoom Section</title>
                                        </qzoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <qzoom>
                <class>Qaz_Qzoom_Block</class>
            </qzoom>
        </blocks>
        <helpers>
            <qzoom>
                <class>Qaz_Qzoom_Helper</class>
            </qzoom>
        </helpers>
    </global>
    <default>
        <qzoom>
            <general>
                <enable>1</enable>
                <enable_jquery>1</enable_jquery>
            </general>           
        </qzoom>
    </default>
</config>